/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// #define BASE 0
// #define SYM 1
// #define NAV 2

&mt {
    tapping-term-ms = <300>;
    require-prior-idle-ms = <125>;
    quick-tap-ms = <200>;
};

&lt { tapping-term-ms = <125>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        //         default_layer {
        //             bindings = <
        // &kp ESC   &kp Q        &kp W           &kp E         &kp R       &kp T        &kp Y      &kp U       &kp I          &kp O           &kp P            &kp GRAVE
        // &kp TAB   &hm LCTRL A  &hm LEFT_ALT S  &hm LSHIFT D  &hm LGUI F  &kp G        &kp H      &hm LGUI J  &hm RSHIFT K   &hm LEFT_ALT L  &hm LCTRL SEMI   &kp SQT
        // &kp NUBS  &kp Z        &kp X           &kp C         &kp V       &kp B        &kp N      &kp M       &kp COMMA      &kp DOT         &kp LEFT_BRACKET &kp RIGHT_BRACKET
        //                                        &mo SYM       &mo SPACE   &kp FSLH     &mo NAV    &mo ENTER   &kp BACKSPACE
        //             >;
        //         };
        //         SYM {
        //             bindings = <
        //             >;
        //         };
        //         NAV {
        //             bindings = <
        // &kp TAB    &kp N1  &kp N2   &kp N3   &kp N4     &kp N5           &kp N6     &kp N7        &kp N8         &kp N9        &kp N0    &none
        // &kp LCTRL  &none   &kp H    &kp K    &kp J      &kp L            &kp LEFT   &kp DOWN      &kp UP         &kp RIGHT     &kp C(A)  &none
        // &kp LSHFT  &none   &none    &kp C    &none      &none            &none      &none         &none  &none   &none  &none
        //                             &kp LGUI &kp SPACE  &none            &none      &none   &none
        //             >;
        //         };
        //
        //         layer_0 {
        //             bindings = <
        // &kp N7    &kp Q  &kp W  &kp E         &kp R      &kp T   &kp Y         &kp U   &kp I      &kp O    &kp P             &kp GRAVE
        // &kp N8    &kp A  &kp S  &kp D         &kp F      &kp G   &kp H         &kp J   &kp K      &kp L    &kp SEMI          &kp SQT
        // &kp NUBS  &kp Z  &kp X  &kp C         &kp V      &kp B   &kp N         &kp M   &kp COMMA  &kp DOT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
        //                         &kp NUMBER_1  &kp SPACE  &kp N2  &kp NUMBER_3  &kp N4  &kp N5
        //             >;
        //         };

        layer_0 {
            bindings = <
&kp ESC   &kp Q        &kp W           &kp E         &kp R       &kp T     &kp Y  &kp U       &kp I          &kp O           &kp P             &kp GRAVE
&kp TAB   &hm LCTRL A  &hm LEFT_ALT S  &hm LSHIFT D  &hm LGUI F  &kp G     &kp H  &hm LGUI J  &hm RSHIFT K   &hm LEFT_ALT L  &hm LCTRL SEMI    &kp SQT
&kp BACKSLASH  &kp Z        &kp X           &kp C         &kp V       &kp B     &kp N  &kp M       &kp COMMA      &kp DOT         &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                                       &mo 1         &kp SPACE   &kp FSLH  &mo 2  &kp ENTER   &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&kp TAB    &kp EXCL  &kp N2  &kp N3    &kp N4     &kp N5  &kp N6     &kp N7     &kp N8            &kp N9             &kp N0    &kp BACKSPACE
&kp LCTRL  &none   &kp H   &kp K     &kp J      &kp L   &kp MINUS  &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BSLH  &kp GRAVE
&kp LSHFT  &none   &none   &kp C     &none      &none   &kp UNDER  &kp EQUAL  &kp LBKT          &kp RBKT           &kp PIPE  &kp TILDE
                           &kp LGUI  &kp SPACE  &none   &none      &kp ENTER  &kp BACKSPACE
            >;
        };

        layer_2 {
            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3  &kp N4     &kp N5    &kp N6    &kp N7     &kp N8         &kp N9     &kp N0      &bt BT_CLR
&kp LCTRL  &none   &kp H   &kp K   &kp J      &kp L     &kp LEFT  &kp DOWN   &kp UP         &kp RIGHT  &kp LC(A)   &none
&kp LSHFT  &none   &none   &kp C   &none      &none     &none     &none      &none          &none      &bt BT_PRV  &bt BT_NXT
                           &none   &kp SPACE  &kp FSLH  &none     &kp ENTER  &kp BACKSPACE
            >;
        };
    };
};
